@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

header {
    padding: 52px 260px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

nav img {
    width: 3rem;
    height: 3rem;
}

.nav-img {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav>ul {
    display: flex;
    justify-content: center;
    gap: 44px;
}

nav li {
    list-style: none;
    margin-right: 20px;
    color: #424247;
    font-size: 1rem;
    font-weight: 400;
}

nav li a {
    text-decoration: none;
    color: #424247;
}

.home {
    color: #FF5400;
    font-size: 1rem;
    font-weight: 700;
}

.nav-title {
    font-size: 2rem;
    font-weight: 800;
    color: #131318;
}

.nav-title-two {
    color: #FF5400;
}

.banner {
    text-align: center;
    margin: 0 auto;
    border-radius: 16px;
    background: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: top center;
}

.banner-title {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 100px;
}

.banner-descrip {
    color: #FFF;
    font-size: 1rem;
}

.index {
    display: flex;
    text-align: center;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 100px;
}

.index input {
    border-radius: 8px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
}

.find-now input {
    background: #FF5400;
    border-radius: 8px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    border: none;
}

/* banner end */

.popular-tour {
    display: flex;
    margin-top: 200px;
    gap: 20px;
}

.popular-tour-title {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
}

.popular-tour-content .popular-tour-descrip {
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;

}

.read-more {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 800;
    border-radius: 8px;
    background: #FF5400;
    padding: 14px 30px;
    margin-top: 35px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.your-destination-head {
    text-align: center;
}

.your-destination-title {
    color: #131318;
    font-size: 2.4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.your-destination-dis {
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
}

.your-destination-img-container img {
    max-width: 100%;

}

.your-destination-img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 24px;
    justify-content: center;
}

/* your destination container end */
.choose-title {
    color: #131318;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 800;
    margin-top: 100px;
    margin-bottom: 24px;
}

.choose-dis {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}

.card-container {
    display: grid;
    margin-top: 48px;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px;
}

.card-stats {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.card-title {
    color: #5A5A5D;
    font-size: 1rem;
}

/* why choose end */
.newsletter-content {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 100px;
}

.newsletter-content-sign {
    background: #FFF;
    border-radius: 16px;
    border: 1px solid #FF5400;
    max-width: 474px;
    height: 420px;
    padding: 40px;
    box-sizing: border-box;
}

.newsletter-title {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
}

.newsletter-dis {
    color: #5A5A5D;
    font-size: 1rem;
    margin-bottom: 48px;
}

.newsletter-content-sign input {
    width: 100%;
    height: 52px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0px;
    padding: 0px 5px;
    margin-bottom: 16px;
    color: rgba(19, 19, 24, 0.30);
    font-size: 1rem;
}

.newsletter-content-sign button {
    border-radius: 8px;
    background: #FF5400;
    color: #ffffff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    max-width: 100%;
    height: 40px;
}

.off-content {
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    text-align: center;
    padding: 20px;
    position: relative;
    right: -295px;
    bottom: 210px;
    transform: rotate(-19.628deg);
}

.off-travel {
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;

}

.off-save-up {
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

/* newslater end */
.footer-content {
    background: rgba(19, 19, 24, 0.05);
    width: 100%;

}

.footer-img {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.footer-descrip {
    color: #5A5A5D;
    text-align: center;
    font-size: 1rem;
}

.footer-img-two {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.footer-bottom {
    padding: 20px;
    text-align: center;
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    margin-top: 100px;
}

/* mobile device */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    nav>ul,
    .index,
    .popular-tour,
    .your-destination-img-container {
        flex-direction: column;
    }

    nav {
        align-items: start;
    }

    .banner {
        background-position: center;
        background-repeat: no-repeat;
    }
}